<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 m-0"><%= @contact.customer_name %></h1>
  <div>
    <%= link_to 'Edit', edit_contact_path(@contact, company_id: params[:company_id]), class: 'btn btn-outline-secondary' %>
    <% if params[:company_id].present? %>
      <%= link_to 'Back', company_path(params[:company_id]), class: 'btn btn-link' %>
    <% else %>
      <%= link_to 'Back', contacts_path, class: 'btn btn-link' %>
    <% end %>
  </div>
</div>

<div class="card p-3">
  <p><strong>Email:</strong> <%= @contact.email %></p>
  <p><strong>Company:</strong> <%= link_to @contact.company_name, @contact.company %></p>
  <p><strong>Phone:</strong> <%= @contact.phone %></p>
</div>
